body {
	/*background-color: #F1F1F1;*/
	background-color: #fff;
}

.navbar-induk{
	background-color: #fff;
	border-radius: 0px;
	height:50px;
	width:1366px;
}

.navbar-logo {
	margin-top: -12px;
	height: 40px;
}

.navbar-header {
	background-color: transparent;
}

.navbar-induk .navbar-nav > li > a {
	color: #de5a51;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}

.navbar-induk .navbar-nav > li > button{
	color: #FFFFFF;
}
.navbar-induk .navbar-nav > li > .btn-primary {
	border-radius: 4px;
	height: 35px;
}

.input-group {
	margin-top: 10px;
}

.navbar-search-box-icon {
	height: 15px;
}

.navbar-induk .navbar-nav > li > a:hover {
	background-color: transparent;
	border-bottom: 3px solid #de5a51;
}

.navbar-induk .navbar-nav > li > a:focus {
	background-color: transparent;
	border-bottom: 3px solid #de5a51;
}




/********************************************Nav********************************************/
.modal-header {
    padding:18px 15px;
    border-bottom:1px solid #eee;
    background-color: #F05521;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     height: 75px;
 }


.modal-content {
	width:60%;
	left:80px;
	top:60px;
	border-radius: 6px;
}

.modal-footer {
	text-align: center;
}


/********************************************Page signUp********************************************/
.signup-page {
	background-color: #fff;
	margin-top: 80px;
}

.signup-page legend {
	color: #67696e;
}

.signup-page label {
		color: #67696e;
	}

.form-content-signup button {
	background-color: #de5a51;
	color: #fff;
}



/********************************************Page Manage-Project********************************************/
.manage-project-content {
	top: 35px;
}
.thumbnail {
	height: 350px;
	background-color: #FFFFFF;
	
}

.project-thumbnail {
	width: 250px;
}
/********************************************Page Upload-Upload********************************************/
.upload-upload-text {
	border-radius: 0px;
}

.upload-upload > a,
.manage-project > a {
	color: #de5a51;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	text-decoration: none;
	top: 65px;
	text-align: center;
}

/*hr.test {
	margin-top : -100px;
	border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 50px; 
}*/

.container-fluid > a:focus {
	border-bottom: 3px solid #de5a51;
}

.btn-save {
    border-style: solid;
    border-color: #de5a51;
	width: 206.226px;
	height: 44.532px;
}

.btn-save > a {
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 22px; 
	color: #de5a51;
	margin-left: 35%;
	margin-top: 25%;
}

.btn-publish {
    border-style: solid;
    border-color: #de5a51;
	width: 206.226px;
	height: 44.532px;
	top: 15%;
}

.btn-publish > a {
	margin-top: 15px;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	font-size: 22px; 
	color: #de5a51;
	margin-left: 31%;
}

.btn-save:hover {
    border-color: #20D070;
    color: #20D070;
}

.btn-publish:hover {
	border-color: #08B0F4;
	color: #08B0F4;
}

/********************************************Page Portofolio********************************************/
.a-categories {
	margin-top: 35px;
	margin-right: 20px;
}

.portofolio-img-template {
	width: 293px;
	height: 193px;
	background-color: white;
	margin-bottom: 2%;
}

.portofolio-img-template > img {
	width: 263px;
	height: 163px;
	display: block;

}

.content-portofolio > p {
	color: #8e9197;
	margin-top: -12px;
	font-size: 12px;
}

.content-portofolio {
	display: inline-block;
	padding-right: 20px;
	margin-bottom: 20px;
}
#container .mix {
	text-align: left;
	display: none;
}
/********************************************Page Portofolio-Project********************************************/
#portofolio-project-slideshow {
	width: 600px;
	height: 333px;
}


.carousel-indicators {
	bottom: 0;
}

.carousel-control.left {
	height: 333px;
}
.carousel-control.right {
	height: 333px;
}

#imagePreview {
	margin-top: 12px;
	height: 168px;
	width: 257px;
}

/********************************************page home****************************************************/

#content-1
{
	background: #dfdfdf;
	width: 100%;
	height: 600px;
	top: 0px;
	margin-bottom: 0px;
	
}

.title-1
{
	text-align: center;
	color: #181818;
	font-family: 'calibri';
	margin-top: 30px;
	margin-bottom: -10px;
}

.step 
{
	margin-top: 50px;
	margin-left: 70px;
}

#content-2
{
	background: #5f76ba;
	width: 1350px;
	height: 600px;
}

.des-step
{
	text-align: center;
}

.contact
{
	width: 100%;
	top: 0px;
	margin-bottom: 0px;
	text-align: center;

}

.comment-form
{
	width: 500px;
	height: 200px;
	position: absolute;
	margin-top: 180px;
	padding: 10px
	
}

.inputName
{
	position: absolute;
	margin: 0px 0px;
	width: 350px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.inputEmail
{
	position: absolute;
	margin: 50px 0px;
	width: 350px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.comment
{
	margin: 100px 0px;
	width: 350px;
	height: 100px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.submit
{
	margin-top: -90px;
	background: #d4d4d4;
	border-radius: 3px;
	width: 100px;
	padding: 2px 2px;
	font-family: 'times new roman';
}
