body {
	/*background-color: #F1F1F1;*/
	background-color: #fff;
}

.navbar-induk{
	background-color: #fff;
	border-radius: 0px;
	height:50px;
	width:1366px;
}

.navbar-logo {
	margin-top: -12px;
	height: 40px;
}

.navbar-header {
	background-color: transparent;
}

.navbar-induk .navbar-nav > li > a {
	color: #de5a51;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}

.navbar-induk .navbar-nav > li > button{
	color: #FFFFFF;
}
.navbar-induk .navbar-nav > li > .btn-primary {
	border-radius: 4px;
	height: 35px;
}

.input-group {
	margin-top: 10px;
}

.navbar-search-box-icon {
	height: 15px;
}

.navbar-induk .navbar-nav > li > a:hover {
	background-color: transparent;
	border-bottom: 3px solid #de5a51;
}

.navbar-induk .navbar-nav > li > a:focus {
	background-color: transparent;
	border-bottom: 3px solid #de5a51;
}




/********************************************Nav********************************************/
.modal-header {
    padding:18px 15px;
    border-bottom:1px solid #eee;
    background-color: #F05521;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     height: 75px;
 }


.modal-content {
	width:60%;
	left:80px;
	top:60px;
	border-radius: 6px;
}

.modal-footer {
	text-align: center;
}


/********************************************Page Manage-Project********************************************/
.thumbnail {
	height: 350px;
	background-color: #FFFFFF;
	
}
/********************************************Page Upload-Upload********************************************/
.upload-upload-text {
	border-radius: 0px;
}

.container-fluid > a {
	color: ;
	font-size: 20px;
	text-decoration: none;
	top: 65px;
	text-align: center;
}

.container-fluid > a:focus {
	border-bottom: 3px solid black;
}

.save {
	background: url(images/upload-btn-save.png);
	width: 206.226px;
	height: 44.532px;
}
.save:hover {
	background: transparent url(images/upload-btn-saveHover.png);
}
.btn-publish {
	background: url(images/upload-btn-publish.png);
	width: 206.226px;
	height: 44.532px;
}
.btn-publish:hover {
	background: transparent url(images/upload-btn-publishHover.png);
}
/********************************************Page Portofolio********************************************/
.a-categories {
	margin-top: 35px;
	margin-right: 20px;
}

.content-portofolio > p {
	color: #8e9197;
	margin-top: -12px;
	font-size: 12px;
}

.content-portofolio {
	display: inline-block;
	padding-right: 20px;
	margin-bottom: 20px;
}
#container .mix {
	text-align: left;
	display: none;
}
/********************************************Page Portofolio-Project********************************************/
#portofolio-project-slideshow {
	width: 600px;
	height: 333px;
}


.carousel-indicators {
	bottom: 0;
}

.carousel-control.left {
	height: 333px;
}
.carousel-control.right {
	height: 333px;
}
left;
	display: none;
}

/********************************************page home****************************************************/

.contentWhite
{
	background: white;
	width: 100%;
	height: 700px;
	top: 0px;
	margin-bottom: 10px;
	
}

.first-title
{
	text-align: center;
	color: #181818;
	font-family: 'calibri';
	margin-top: 30px;
	margin-bottom: -10px;
}

.step 
{
	margin-top: 50px;
	margin-left: 100px;
}

.des-step 
{
	text-align: center;
}

.fillForm 
{
	margin-left: 85px;
}

.choosePorto
{
	margin-left: 100px;
}

.expandPorto
{
	margin-left: -10px;
}

.letStart
{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


.content
{
	background: #f26739;
	width: 100%;
	height: 550px;
}

.second-title
{
	text-align: center;
	color: #fdfdfd;
	font-family: 'berlin sans fb';
	margin-top: 50px;
}

.himtiMember
{
	background: #f74d14;
	height: 100px;
}

.memberCount
{
	color: white;
	text-align: center;
	font-family: 'Calibri';
}

.square
{
	background: #ffffff;
	height: 200px;
	margin-right: 5px;
}

.himti-member
{
	width: 100%;
}

.quote
{
	text-align: center;
	background: white;
	padding-bottom: 10px;
	font-family: "berlin sans fb"
}

.contentBlue
{
	background: #21659b;
	height: 350px;
}

.third-title
{
	color: white;
	text-align: center;
	margin-bottom: 40px;
}

.developer-image
{
	width: 60%;
	margin-left: 50px;
}

.dev-name
{
	color: white;
	text-align: center;

}

/*
.contentblue 
{
	background: #2673b0;
	height: 350px;
}

.five-title
{
	text-align: center;
	color: white;
}

.comment-form
{
	text-align: center;
	width: 500px;
	height: 200px;
	margin-top: 10px;
	padding: 10px
	
}

.inputName
{
	text-align: center;

	position: absolute;
	margin: 0px 0px;
	width: 500px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.inputEmail
{
	text-align: center;
	position: absolute;
	margin: 50px 0px;
	width: 500px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.comment
{
	margin: 100px 0px;
	text-align: center;
	width: 500px;
	height: 100px;
    padding: 5px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.submit
{
	margin-top: -90px;
	margin-left: 50px;
	background: #d4d4d4;
	border-radius: 3px;
	width: 400px;
	padding: 2px 2px;
	font-family: 'times new roman';
} */

.footer
{
	background: #292c32;
	height: 50px;
	text-align: center;
	color: white;
	padding-top: 15px;
}

/*
.contact
{
	width: 100%;
	top: 0px;
	margin-bottom: 0px;
	text-align: center;

}*/

/*****************************************************Sign Up ************************************************/

.signUp
{
	background: silver;
}
.signup-form
      {
	    width: 700px;
        height: 680px;
        margin: 0 auto;
        border-radius: 5px;
        border: 1px solid #F05521;
        z-index: 5;
        background: white;
        margin-top: 100px;
        margin-bottom: 50px;
      }

	.header
    {
    	padding: 15px 30px 30px 30px;
       	color: white;
       	text-align: center;
       	background: #F05521;
       	margin-bottom: 0px;
    }

    .logo2
    {
    	width: 50%;
    }

    #sign-up
      {
        text-align: center; 
        color: gray;
        font-size: 30px;
        font-family: arial;
        margin-top: 10px;
      }
      .name
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 10px;
        margin-bottom: 0px;
      }

      .firstName
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .lastName
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .username
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputUsername
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .email
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputEmail
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .password
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputPassword
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .retypePassword
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputretype
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .button-registration
      {
      	background: #045;
      	color: white;
      	border: 1px solid gray;
      	border-radius: 5px;
      	padding: 4px 30px 4px 30px;
        margin-top: 30px;
        margin-left: 515px;
      }

      /***************************************************** Edit Profile ************************************************/

.edit-profile
{
	background: silver;
}
.edit-form
      {
	    width: 700px;
        height: 1000px;
        margin: 0 auto;
        border-radius: 5px;
        border: 1px solid #F05521;
        z-index: 5;
        background: white;
        margin-top: 100px;
        margin-bottom: 50px;
      }

	.header-edit
    {
    	padding: 15px 30px 30px 30px;
       	color: white;
       	text-align: center;
       	background: #F05521;
       	margin-bottom: 0px;
    }

    .logo2
    {
    	width: 50%;
    }

    #editProfile 
      {
        text-align: center; 
        color: gray;
        font-size: 30px;
        font-family: arial;
        margin-top: 10px;
      }

      hr {
      	width: 200px;
      	margin-top: -10px;
      	
      }

      .photo-profile
      {
      	width: 250px;
      	height: 200px;

      }

      .name
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 10px;
        margin-bottom: 0px;
      }

      .firstName
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .lastName
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .email
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputEmail
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .Address
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputAddress
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .phoneNumber
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .inputPhone
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      legend
      {
      	margin-top: 20px;
      	margin-bottom: 10px

      }

      .oldPassword
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-bottom: -10px;
      }

      .newPassword
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-bottom: -10px;
        margin-top: 15px;
      }

      .retypeNewPassword
      {
        color: gray;
        font-size: 16px;
        font-family: 'Calibri';
        margin-bottom: -10px;
        margin-top: 15px;
      }

      .input-old-password
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .input-new-password
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .input-retype-password
      {
        color: gray;
        padding: 7px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'sans-serif';
        font-weight: 400;
        font-size: 13px;
        color: #000;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        background: #fff;
        top: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
      }

      .button-save
      {
      	background: #045;
      	color: white;
      	border: 1px solid gray;
      	border-radius: 5px;
      	padding: 4px 30px 4px 30px;
        margin-top: 30px;
        margin-left: 515px;
      }